# for the metric
git+https://github.com/quadrismegistus/poesy.git
langdetect
bs4
tqdm
pandas
sacrebleu
bert-score
evaluate
unbabel-comet

# only for the demo
gradio

# only for experiments
googletrans
deepl
datasets
transformers
torch
scipy
unidecode